body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #000000;
  overflow: hidden;
}

.UI-info {
  position: absolute;
  top: 4vh;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 100;

}

.total-area {
  position: absolute;
  margin-left: 66vw;
  margin-top: 66vh;
  width: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}


h1 {
  color: #ffffff;
  font-family: 'Spline Sans', sans-serif;
  font-weight: 500;
  font-size: 2.5em;
  text-align: center;
}


.main-p {
  margin: auto 0 auto 0;
  color: #ffffff;
  font-family: 'Spline Sans', sans-serif;
  font-weight: 400;
  font-size: 2.2em;
}

.small-p {
  margin: auto 0 auto 0;
  color: #ffffff;
  font-family: 'Spline Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}


/* token styles */

.highlight {
  width: 75px;
  height: 75px;
  display: none;
  position: absolute;
  transition: all 0.1s;
}

.squareMeterText {
  width: 120px;
  height: 120px;
  display: none;
  position: absolute;
}

.squareMeterText.is-visible {
  display: block;
}

.highlight.is-visible {
  display: block;
}



/* Unit Visualization Left */


.unitVis {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 30vw;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

#ha_unit {
  display: none;
  margin: auto 0 auto 0;
  width: 75%;
}

#ha_unit.is-visible {
  display: block;
}

#a_unit {
  display: none;
  margin: auto 0 auto 0;
  width: 75%;
}

#a_unit.is-visible {
  display: block;
}

#m2_unit {
  display: none;
  margin: auto 0 auto 0;
  width: 75%;
}

#m2_unit.is-visible {
  display: block;
}

#km2_unit {
  display: none;
  margin: auto 0 auto 0;
  width: 75%;
}

#km2_unit.is-visible {
  display: block;
}


/* language selection switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 7vw;
  height: 5vh;
  z-index: 110;
  background-color: #000000;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.language-selection {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1vw;
  z-index: 110;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-transition: .2s;
  transition: .2s;
  color: #ffffff;
  font-family: 'Spline Sans Mono', monospace;
  font-weight: 400;
  font-size: 1.1em;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.25vh;
  width: 2vw;
  left: 0px;
  bottom: 2vh;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked+.slider:before {
  -webkit-transform: translateX(3vw);
  -ms-transform: translateX(3vw);
  transform: translateX(3vw);
}



/* dock */

.dock {
  position: absolute;
  bottom: 2.5vh;
  /* margin: auto; */
  width: 100vw;

  display: flex;
  gap: 0vw;
  justify-content: center;
  align-items: end;
  flex-direction: row;
  z-index: 105;
}

.habitat {
  width: 9vw;
  height: 15vh;
}


/* Restart And About Buttons */
.restartAndAbout {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1vw;

  /* justify-content: left;
  align-items: center;
  flex-direction: column;
  z-index: 100;  */

}

.about-btn {
  opacity: 1;
  /* position: absolute;
  top: auto;
  right: 20px;
  width: 100px;
  height: 40px; */
  background: rgb(0, 0, 0, 1);
  display: flex;
  padding-left: 0.25vw;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  z-index: 100;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Spline Sans Mono', monospace;
  font-weight: 400;
  font-size: 1.1em;
}

.icon {
  padding: 1vw;
  width: 1.5vw;
  /* height: 20px; */
  /* margin-right: 10px; */
}

.restart-btn {
  opacity: 1;
  /* position: absolute;
  top: auto;
  right: 20px;
  width: 100px;
  height: 40px; */
  background: rgb(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  z-index: 100;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Spline Sans Mono', monospace;
  font-weight: 400;
  font-size: 1.1em;
}